### Content Based Recommendation System

### Read the Dataset `movies_metadata.csv`

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
data_file = "/content/gdrive/My Drive/Colab Notebooks/movies_metadata.csv"

In [0]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
df = pd.read_csv(data_file)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

### Create a new column with name 'description' combining `'overview' and 'tagline'` columns in the given dataset

In [0]:
df['description']=df['overview'].fillna('')+df['tagline'].fillna('')

In [6]:
df.head()

   adult  ...                                        description
0  False  ...  Led by Woody, Andy's toys live happily in his ...
1  False  ...  When siblings Judy and Peter discover an encha...
2  False  ...  A family wedding reignites the ancient feud be...
3  False  ...  Cheated on, mistreated and stepped on, the wom...
4  False  ...  Just when George Banks has recovered from his ...

[5 rows x 25 columns]

### Lets drop the null values in `description` column

In [0]:
df['description'].replace('',np.nan,inplace=True)
df.dropna(subset=['description'],inplace=True)

### Keep the first occurance and drop duplicates of each title in column `title`

In [8]:
df.drop_duplicates(subset=['title'],keep='first',inplace=True)

#check if duplicate rows are deleted
df1=pd.DataFrame(df,columns=['title'])
dup =df1[df1.duplicated()]
dup

Empty DataFrame
Columns: [title]
Index: []

### As we might have dropped a few rows with duplicate `title` in above step, just reset the index [make sure you are not adding any new column to the dataframe while doing reset index]

In [9]:
df.reset_index(drop=True)
df.head()

   adult  ...                                        description
0  False  ...  Led by Woody, Andy's toys live happily in his ...
1  False  ...  When siblings Judy and Peter discover an encha...
2  False  ...  A family wedding reignites the ancient feud be...
3  False  ...  Cheated on, mistreated and stepped on, the wom...
4  False  ...  Just when George Banks has recovered from his ...

[5 rows x 25 columns]

### Generate tf-idf matrix using the column `description`. Consider till 3-grams, with minimum document frequency as 0.

In [0]:
tf_idf_vect = TfidfVectorizer(analyzer='word',ngram_range=(1,3),stop_words='english',min_df=0)
tf_idf_vect.fit(df['description'])
title_matrix = tf_idf_vect.transform(df['description'])

In [0]:
#get the first vector out
first_vector_tfidfvectorizer=title_matrix[0]

In [12]:
#place tf-idf values in a pandas data frame
df2=pd.DataFrame(first_vector_tfidfvectorizer.T.todense(),index=tf_idf_vect.get_feature_names(),columns=["tfidf"])
#df2
df2.sort_values(by=["tfidf"],ascending=False)

                        tfidf
buzz                 0.263126
woody                0.249713
andy                 0.217095
buzz woody           0.112337
toys live            0.112337
...                       ...
fly niko proposes    0.000000
fly niko             0.000000
fly night sly        0.000000
fly night producers  0.000000
ﬁve friends wander   0.000000

[2237807 rows x 1 columns]

### create cosine similarity matrix

In [13]:
cosine_sim_titles  = cosine_similarity(title_matrix)
cosine_sim_titles.shape

(41380, 41380)

### Write a function with name `recommend` which takes `title` as argument and returns a list of 10 recommended title names in the output based on the above cosine similarities

In [0]:
def recommend(title_id):
    cosine_sim_titles  = cosine_similarity(title_matrix)
    cosine_sim_titles.shape
    
    df['description'].iloc[title_id]
    
    top_n_idx = np.flip(np.argsort(cosine_sim_titles[title_id,]),axis=0)[0:10]
    top_n_sim_values = cosine_sim_titles[title_id, top_n_idx]
    top_n_sim_values
    
    # find top n with values > 0
    top_n_idx = top_n_idx[top_n_sim_values > 0]
    
    # Matching books
    print(df['title'].iloc[top_n_idx])

### Give the recommendations from above functions for movies `The Godfather` and `The Dark Knight Rises`

In [0]:
recommend(823)
# the title_matrix is too large to read into memory, my personal computer  has less ram so its not working here.
#Tried the same in office desktop and i got the recommendations which i am printing below
 
    
834   The Godfather
44030  The Godfather Trilogy:1972-1990
1178   The godfather :part ii
31973  Honor thy father
23126  blood ties
11992  The cave of the yellow dog
38030 A mother should be loved
18322 The outside man
11297 Household saints
4324  Made

In [0]:
recommend(17362)
# the title_matrix is too large to read into memory, my personal computer  has less ram so its not working here.
#Tried the same in office desktop and i got the recommendations which i am printing below

18252 the dark knight rises
12481 the dark knight
150 batsman forever
1328 batsman returns
3095 batman:Mask of the phantasm
585 batman
21400 batman:mystery of the batman
15511 batman:under the red hood
9230 batman beyond: return of the joker
25267 batman vs dracula